{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-webpay" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}"
                   class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1><img src="view/image/hgrosh.png" alt=""/>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        {% if errors['warning'] %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ errors['warning'] }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-webpay"
                      class="form-horizontal">
                    {% for configField in configFields %}
                        <div class="form-group {% if configField.required %}required{% endif %}">
                            <label class="col-sm-2 control-label" for="input-{{ configField.key }}">
                                <span data-toggle="tooltip" title="{{ configField.description }}"
                                      data-original-title="">
                                    {{ configField.label }}
                                </span>
                            </label>
                            <div class="col-sm-10">
                                {% if configField.key starts with "payment_hutkigrosh_order_status"%}
                                    <select class="form-control" id="input-{{ configField.key }}"
                                            name="{{ configField.key }}">
                                        {% for order_status in order_statuses %}
                                            {% if order_status['order_status_id'] == configField.value %}
                                                <option value="{{ order_status['order_status_id'] }}"
                                                        selected="selected">{{ order_status['name'] }}</option>
                                            {% else %}
                                                <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                {% elseif configField.key == 'payment_hutkigrosh_email_notification' %}
                                    <input type="checkbox" id="input-{{ configField.key }}"
                                           name="{{ configField.key }}" value="1"
                                           {% if configField.value %}checked="checked"{% endif %} class="form-control"/>
                                {% elseif configField.key == 'payment_hutkigrosh_sms_notification' %}
                                    <input type="checkbox" id="input-{{ configField.key }}"
                                           name="{{ configField.key }}" value="1"
                                           {% if configField.value %}checked="checked"{% endif %} class="form-control"/>
                                {% elseif configField.key == 'payment_hutkigrosh_sandbox' %}
                                    <input type="checkbox" id="input-{{ configField.key }}"
                                           name="{{ configField.key }}" value="1"
                                           {% if configField.value %}checked="checked"{% endif %} class="form-control"/>
                                {% elseif configField.key == 'payment_hutkigrosh_status' %}
                                    <select class="form-control" id="input-{{ configField.key }}" name="{{ configField.key }}">
                                        <option value="1" {% if configField.value %}selected{% endif %}>{{ text_enabled }}</option>
                                        <option value="0" {% if not configField.value %}selected{% endif %}>{{ text_disabled }}</option>
                                    </select>
                                {% else %}
                                    <input type="text" name="{{ configField.key }}" value="{{ configField.value }}"
                                           placeholder="{{ configField.label }}"
                                           id="input-{{ configField.key }}" class="form-control"/>
                                {% endif %}
                                {% if errors[configField.key] %}
                                    <div class="text-danger">{{ errors[configField.key] }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}